.expo-recipe{
    width: 100%;
    height: auto;
    padding: 50px;
    display: grid;
    overflow: scroll;
    grid-gap: 10px;
    p{
        color: rgba(255, 255, 255, 0.479);
      }
    img{
        width: 300px;
        height: auto;
        object-fit: cover;
        border-radius: 20px;
    }
}
.heading{
    display: flex;
    align-items: center;
    gap: 10px;
}