.TreeViewSection {
  .tree {
    margin: 0;
    padding: 0;
    list-style: none;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      margin-left: 1em;
      position: relative;
      cursor: pointer;
      margin-top: 10px;
      margin-bottom: 10px;
      ul {
        margin-left: 0.5em;
        cursor: pointer;
      }
      &:before {
        content: "";
        display: block;
        width: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        border-left: 1px solid;
      }
      li {
        margin-top: 10px;
        margin-bottom: 10px;
        &:before {
          content: "";
          display: block;
          width: 10px;
          height: 0;
          border-top: 1px solid;
          margin-top: -1px;
          position: absolute;
          top: 1em;
          left: 0;
        }
        &:last-child {
          &:before {
            background: #fff;
            height: auto;
            top: 1em;
            bottom: 0;
          }
        }
      }
    }
    li {
      margin-top: 10px;
      margin-bottom: 10px;
      margin: 0;
      padding: 0 1em;
      line-height: 2em;
      color: #040153;
      font-weight: 700;
      position: relative;
      .expand {
        display: block;
      }
      .collapse {
        display: none;
      }
      a {
        text-decoration: none;
        color: #040153;
      }
      button {
        text-decoration: none;
        color: #040153;
        border: none;
        background: transparent;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        outline: 0;
        &:active {
          text-decoration: none;
          color: #040153;
          border: none;
          background: transparent;
          margin: 0px 0px 0px 0px;
          padding: 0px 0px 0px 0px;
          outline: 0;
        }
        &:focus {
          text-decoration: none;
          color: #040153;
          border: none;
          background: transparent;
          margin: 0px 0px 0px 0px;
          padding: 0px 0px 0px 0px;
          outline: 0;
        }
      }
    }
  }
  .indicator {
    margin-right: 5px;
  }
}
.setting__name {
  width: 100%;
  background-color: #c7c6d7;
  height: 30px;
  text-align: center;
}
