.company {
  width: 100%;
  padding: 10px;
  background-color: #fff;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .headder__company__section {
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    h2 {
      font-weight: 500;
      color: #040153;
    }
  }

  .company__wrapper {
    width: 97%;
    height: 90%;
    background-color: #c7c6d7;
    display: flex;

    .left__company__Section {
      width: 50%;
      display: flex;
      flex-direction: column;

      .company__input__section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        padding-left: 10%;
        color: #040153;

        input {
          margin-top: 15px;
          width: 50%;
          height: 30px;
          border-radius: 5px;
          outline: none;
          border: none;
          padding-left: 10px;
          font-weight: 600;
        }

        textarea {
          margin-top: 10px;
          width: 50%;
          border-radius: 5px;
          outline: none;
          border: none;
          padding-left: 10px;
        }
      }
    }
    .right__company__section {
      width: 50%;
      display: flex;
      flex-direction: column;

      .drop__image__section {
        padding-right: 10px;
        margin-top: 30px;
        display: flex;
        justify-content: flex-end;
        width: 100%;

        .container {
          background-color: #fff;
          width: 30%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 5px;
          border-radius: 15px;
          .dropzone {
            padding: 10px;
            background-color: rgba(4, 1, 83, 0.2);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 15px;
            width: 100%;

            p {
              font-size: 12px;
              color: #040153;
            }

            button {
              margin-top: 10px;
              width: 80%;
              border-radius: 10px;
              border: none;
              outline: none;
              height: 20px;
            }
          }
        }
      }

      .company__input__section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        padding-left: 10%;
        color: #040153;

        input {
          margin-top: 15px;
          width: 50%;
          height: 30px;
          border-radius: 5px;
          outline: none;
          border: none;
          padding-left: 10px;
          font-weight: 600;
        }

        textarea {
          margin-top: 10px;
          width: 50%;
          border-radius: 5px;
          outline: none;
          border: none;
          padding-left: 10px;
        }

        button {
          background-color: #040153;
          width: 20%;
          color: #fff;
          outline: none;
          border: none;
          height: 30px;
          border-radius: 10px;
        }
      }
    }
  }
}
