.Inventory {
  width: 100%;

  .overlayer__black {
    width: 100vw;
    height: 100vh;
    background-color: rgba(5, 5, 5, 0.1);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }

  .box__container {
    top: 50%;
    bottom: 50%;
    left: 15%;
    cursor: pointer;

    width: 20%;
    height: 50%;

    position: absolute;

    .sections {
      width: 100%;

      background-color: #ffff;
      margin-top: 5px;
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      padding: 20px;
      border: 1px solid #040153;
      border-radius: 5px;

      h4 {
        color: #040153;
        font-weight: 500;
      }
    }
  }
  .Inventory__transaction {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .Inventory {
    .box__container {
      width: 70%;
      top: 40%;
    }
  }
}
