.ChangeDueSection {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loyality__redeam__section {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .top__loyality__section {
    text-align: center;
    color: red;
    h3 {
      font-weight: 400;
    }
  }

  .bottom__loyality__section {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;

    button {
      width: 80px;
      height: 30px;
      border-radius: 5px;

      outline: none;
      margin-left: 10px;
      margin-right: 10px;
      border: 1px solid red;
      color: red;
      cursor: pointer;
    }
  }
}

.Payment__Section {
  width: 100%;
  height: 100%;
  display: flex;

  .left__payment__section {
    width: 60%;
    display: flex;
    flex-direction: column;
    height: 100%;

    .spilt__wrapper__section {
      width: 100%;
      height: 90%;
      display: flex;

      .left__area__split__Section {
        width: 100%;
        padding: 5px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .left__top__payment__section {
          width: 100%;
          height: 68%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          color: #040153;
          border-radius: 10px;
          box-shadow: 0 0 10px grey;

          h4 {
            font-weight: 400;
            color: grey;
          }

          h1 {
            letter-spacing: 1px;
            font-size: 40px;
          }
        }
        .left__bottom__payment__section {
          display: flex;
          height: 28%;
          width: 100%;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding-left: 10px;
          padding-right: 10px;
          border-radius: 10px;
          box-shadow: 0 0 10px grey;

          .top__section {
            justify-content: space-between;
            align-items: center;
            display: flex;
            width: 100%;
            .MuiSvgIcon-root {
              font-size: 40px;
            }
            h3 {
              font-weight: 500;
              color: #040153;
              font-size: 20px;
            }

            select {
              height: 40px;
              background-color: #040153;
              border-radius: 10px;
              outline: none;
              border: none;
              padding-left: 5px;
              color: #fff;
              width: 100px;
            }
          }

          .bottom__area__sections {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 15px;
            button {
              width: 100px;
              height: 30px;
              background-color: #040153;
              color: #fff;
              margin-left: 5px;
              margin-right: 5px;
              border-radius: 8px;
              border: none;
              outline: none;
              cursor: pointer;
            }

            h4 {
              color: grey;
            }
          }
        }
      }

      .right__area__split__Section {
        width: 100%;

        display: flex;

        align-items: center;
        justify-content: space-evenly;
        button {
          width: 80%;
          height: 40px;
          border: none;
          border-radius: 10px;
          outline: none;
          margin: 5px;
          background-color: #3f48cc;
          color: #fff;
          box-shadow: 0 0 8px grey;
        }

        select {
          width: 80%;
          height: 40px;
          border: none;
          border-radius: 10px;
          outline: none;
          background-color: #040153;
          color: #fff;
          text-align: center;
          box-shadow: 0 0 8px grey;
        }
      }
    }

    .bottom__area__sections {
      width: 100%;
      height: 10%;
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
      button {
        width: 100px;
        height: 30px;
        background-color: #040153;
        color: #fff;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 8px;
        border: none;
        outline: none;
        cursor: pointer;
      }

      h4 {
        color: grey;
        margin-left: 10px;
        font-weight: 400;
      }
    }
  }
  .right__payment__section {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .top__right__payment {
      width: 100%;
      height: 20%;
      display: flex;
      align-items: center;
      justify-content: center;

      .money__put__area {
        width: 90%;
        border-radius: 8px;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #c5d7fd;
        input {
          width: 100%;
          height: 100%;
          background-color: transparent;

          font-weight: bolder;
          font-size: 20px;
          border: none;
          outline: none;
          text-align: center;
        }
      }
    }
    .bottom__right__payment {
      width: 100%;
      height: 80%;
      display: flex;
      flex-wrap: wrap;
      .inner__div {
        width: calc(90% / 2);
        height: 20%;
        border-radius: 10px;
        margin: 5px;
        display: flex;
        align-items: center;
        justify-content: center;

        h3 {
          font-size: 15px;
          font-weight: 500;
        }
      }
    }
  }
}

@media only screen and(max-width:768px) {
  .Payment__Section {
    flex-direction: column-reverse;
    height: 100%;

    .left__payment__section {
      width: 100%;
    }

    .right__payment__section {
      width: 100%;
    }
  }
}
