.RecipieView {
  width: 100%;
  .RecipieView__headder__Section {
    color: #040153;
    padding: 10px;
    background-color: #e0e0e0;

    h3 {
      font-size: 17px;
    }
  }
  .RecipieView__main__body__section {
    width: 100%;
    .top__Section {
      width: 100%;

      .image__section__wrapper {
        width: 100%;
        display: flex;

        .left__wrapper {
          width: 50%;
          align-items: center;

          display: flex;
          position: relative;
          flex-direction: column;

          .recipe__name {
            width: 100%;
            color: #040153;
            height: 100px;
            display: flex;
            padding: 20px;
            align-items: center;
            justify-content: flex-start;

            h2 {
              font-size: 25px;
              font-weight: 400;
            }
          }
          img {
            width: 80%;
            z-index: 1;
            border-radius: 13px;
            height: 300px;
            object-fit: cover;
          }
          .background__div {
            position: absolute;
            width: 50%;
            height: 300px;
            border: 1px solid #040153;
            left: 6%;
            bottom: 0;
            top: 26%;
            z-index: 0;
            border-top: none;
            border-right: none;
          }
        }

        .right__wrapper {
          width: 50%;
          .pagination__section {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            padding-right: 30px;
            padding-top: 15px;
          }
          .RecipieView__image__slider {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            padding-right: 30px;
          }
          .image__section__container {
            margin-top: 50px;
            position: relative;

            .background__div {
              position: absolute;
              width: 50%;
              height: 200px;
              border: 1px solid #040153;
              left: 15%;
              bottom: 0;
              top: 30%;
              z-index: 0;
              border-top: none;
              border-left: 0;
            }
            img {
              width: 60%;
              height: 250px;
              object-fit: cover;
              border-radius: 10px;
            }
          }
        }
      }
    }
    .bottom__section {
      width: 100%;
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      .section__wrapper__bottom {
        color: #040153;
        width: 90%;
        border-radius: 10px;
        background-color: #bab9cf;
        margin-bottom: 30px;
        padding: 30px;
        box-shadow: 0px 3px 8px -1px rgba(89, 89, 89, 0.75);
        .top__Section {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .section {
            width: 45%;
            h2 {
              font-size: 15px;
              margin-bottom: 15px;
            }

            p {
              font-size: 12px;
            }
          }
        }
        .bottom__section {
          .section {
            h2 {
              font-size: 15px;
              margin-bottom: 15px;
            }

            p {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .RecipieView {
    .RecipieView__main__body__section {
      .top__Section {
        .image__section__wrapper {
          flex-direction: column;

          .left__wrapper {
            width: 100%;
            margin-bottom: 30px;

            .background__div {
              height: 310px;
            }
          }

          .right__wrapper {
            width: 100%;

            .RecipieView__image__slider {
            }
          }
        }
      }
    }
  }
}
