.dashboard-sales-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "linechart linechart linechart"
    "announcement total-sale chart-of-sale"
    "announcement modification-and-reprint chart-of-sale"
    "order-by-location top-selling-items sales-by-location"
    "staff-wise-report hourly-breakdown top-grossing-items"
    "staff-wise-report cancelled-orders top-grossing-items"
    "staff-wise-report total-orders top-grossing-items";
  grid-gap: 1rem;

  
  .lineChart__section {
    border-radius: 15px;
    width: 100%;
    grid-area: linechart;
  }
  .gridBox {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
  }
  .grid__item__1 {
    grid-area: announcement;
    .pie__char__section__dashboads {
      margin-top: 20%;
      height: 50%;
    }
    h2 {
      text-align: center;
      color: #040153;
      margin-top: 20px;
    }
  
    hr {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  
    ol {
      margin: 1rem;
      margin-left: 2rem;
      color: #040153;
  
      li {
        margin-top: 5px;
        margin-bottom: 5px;
        .inner__li {
          display: flex;
          justify-content: space-between;
          H5 {
            margin-right: 15px;
          }
        }
      }
    }
    .top__icon__section {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      padding: 5px;
    }
  
    h4 {
      text-align: center;
      text-decoration: underline;
      font-weight: 500;
      color: #040153;
      margin-top: 5px;
      font-size: 14px;
    }
    .post__section {
      display: flex;
      align-items: center;
      background-color: #c7c6d7;
      width: 100%;
      padding: 5px;
      margin-top: 15px;
      height: auto;
  
      input {
        width: 70%;
        height: 50px;
        background-color: transparent;
        outline: none;
        border: none;
        padding-left: 10px;
        color: #040153;
      }
  
      button {
        height: 50px;
        width: 30%;
        background-color: #009751;
        border: none;
        outline: none;
        border-radius: 5px;
      }
    }
  
    .post__detail__section {
      width: 100%;
      height: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: #040153;
    }
  }
  .total-sales{
    grid-area: total-sale;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
  
    .top__icon__section {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      padding: 5px;
    }
  
    h4 {
      text-align: center;
      text-decoration: underline;
      font-weight: 500;
      color: #040153;
      margin-top: 3px;
      font-size: 14px;
    }
  
    h2 {
      text-align: center;
      color: #040153;
      margin-top: 5px;
      font-size: 25px;
    }
  }
  
  .modification-and-reprint {
    width: 100%;
    grid-area: modification-and-reprint;
    background-color: rgb(255, 255, 255);
  
    .top__icon__section {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      padding: 5px;
    }
  
    h4 {
      text-align: center;
      text-decoration: underline;
      font-weight: 500;
      color: #040153;
      margin-top: 3px;
      font-size: 14px;
    }
  
    h2 {
      text-align: center;
      color: #040153;
      margin-top: 5px;
      font-size: 25px;
    }
  }
  .grid__item__4 {
    grid-area: chart-of-sale;
    .top__icon__section {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      padding: 5px;
    }
  
    h4 {
      text-align: center;
      text-decoration: underline;
      font-weight: 500;
      color: #040153;
      margin-top: 3px;
      font-size: 14px;
    }
  }

  .div__area__section {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    margin-right: 5px;
    margin-left: 5px;

    &.div__section__mid {
      background-color: transparent;
    }
  }

  .div__section__one {
    h4 {
      text-align: center;
      text-decoration: underline;
      font-weight: 500;
      color: #040153;
      margin-top: 3px;
      font-size: 14px;
    }
    .top__icon__section {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      padding: 5px;
    }

    .details__sectons {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      height: 80%;

      h3 {
        margin-top: 15px;
        color: #040153;
        font-size: 18px;
      }

      h4 {
        text-decoration: none;
      }
    }
  }

  .div__dection__two {
    .top__icon__section__details {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
    h4 {
      text-align: center;
      text-decoration: underline;
      font-weight: 500;
      color: #040153;
      margin-top: 3px;
      font-size: 14px;
    }
    h2 {
      text-align: center;
      color: #040153;
      margin-top: 25px;
    }

    hr {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    ol {
      padding: 1rem;
      margin-left: 2rem;
      color: #040153;

      li {
        margin-top: 5px;
        margin-bottom: 5px;
        .inner__li {
          display: flex;
          justify-content: space-between;
          H5 {
            margin-right: 15px;
          }
        }
      }
    }
  }
  .mid__chid__section {
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;

    margin-bottom: 10px;
    h4 {
      text-align: center;
      text-decoration: underline;
      font-weight: 500;
      color: #040153;
      margin-top: 3px;
      font-size: 14px;
    }
    .inner__section__contaier {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #040153;

      h3 {
        font-size: 20px;
      }
      h2 {
        font-size: 25px;
      }
      .MuiSvgIcon-root {
        font-size: 50px;
        color: #040153;
      }
    }
    .top__icon__section {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      padding: 5px;
    }
  }

  .hourly-breakdown-card{
    grid-area: hourly-breakdown;
  }
  .order-by-location{
    grid-area: order-by-location;
  }
  .top-selling-items{
    grid-area: top-selling-items;
  }
  .sales-by-location{
    grid-area: sales-by-location;
  }
  .staff-wise-report{
    grid-area: staff-wise-report;
    ol{
      width: 100%;
      padding: 2rem;
    }
    .list-wrapper{
      display: flex;
      align-items: center;
    }
    h6{
      font-size: 0.9rem;
      &:last-child{
        margin-left: auto;
      }
    }
    
  }
  .cancelled-orders{
    grid-area: cancelled-orders;
  }
  .total-orders{
    grid-area: total-orders;
  }
  .top-grossing-items{
    grid-area: top-grossing-items;
  }
}
.hourly__breakdown {
  width: 100%;

  .headding__and__back__section {
    width: 100%;
    display: flex;
    color: #040153;
    padding: 10px;
    align-items: center;
    h2 {
      font-size: 25px;
    }

    .MuiSvgIcon-root {
      font-size: 30px;
      cursor: pointer;
    }
  }



 

  

  .div__section__mid {
    display: flex;
    flex-direction: column;
    
  }
}


.bottom__div__section {
  margin-top: 100px;
  display: flex;
  width: 100%;
  height: 600px;

  
}

@media only screen and(max-width:768px) {
  .lineChart__section {
    height: 200px !important;
  }
  .section__main__container {
    overflow: scroll;
    width: 100%;
    height: 100%;
    flex-direction: column;

    .gridBox {
      width: 100%;
    }

    .grid__item__1 {
      .post__detail__section {
        height: 300px;
        overflow: scroll;
      }
    }

    .grid__item__2__warpper {
      width: 100%;
    }
  }

  .bottom__div__section {
    flex-direction: column;
    height: 100%;

    .div__area__section {
      width: 100%;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}
