.delivery__manager__navbar__Section {
  width: 100%;
  height: 10%;
  min-height: 60px;
  display: flex;
  justify-content: space-between;

  .left__nav__section {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

    h3 {
      font-size: 15px;
    }
  }

  .right__nav__section {
    width: 70%;
    display: flex;

    .menu__icon {
      display: none;
      align-items: center;
      justify-content: center;
      height: 100%;
      cursor: pointer;
    }
    .option__Section__mobile {
      position: absolute;
      top: 10%;
      flex-direction: column;
      right: 0;
      bottom: 50%;
      width: 100vw;
      box-shadow: 0 10px 20px solid black;
      background-color: rgb(233, 233, 233);

      width: 100% !important  ;
      align-items: unset !important;
      justify-content: flex-start !important;
      transition: all 0.5s ease;
      z-index: 3;

      .option {
        box-shadow: 0 10px 20px solid black;
        border: 1px solid #ffffff;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: 1px solid #040153;
        width: 100% !important;
        height: calc(100% / 3) !important;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &.active {
          background-color: #040153;
          color: #fff;
        }
      }
    }
    .options__section {
      width: 60%;
      
      display: flex;
      align-items: center;
      justify-content: center;
      
      .option {
        cursor: pointer;
        width: calc(90% / 3);
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        border-radius: 5px;
        a{
          color: inherit;
          text-decoration: none;
        }
        h5 {
          font-size: 11px;
        }
        &.active {
          background-color: #040153;
          color: #fff;
          a{
            color: inherit;
            text-decoration: none;
          }
          h5 {
            font-size: 12px;
          }
        }
      }
    }
    .other__options {
      width: 40%;
      display: flex;

      align-items: center;
      justify-content: space-evenly;

      .placeOrder__section {
        cursor: pointer;
        height: 30px;
        background-color: #dfa75c;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #000;
        h5 {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
  }
}

@media (max-width: 1110px) {
  .delivery__manager__navbar__Section {
    padding-left: 15px;
    padding-right: 15px;
    .left__nav__section {
      width: 40% !important;
      h3 {
        font-size: 15px;
      }
    }

    .right__nav__section {
      width: 60% !important;

      .option__Section__mobile {
        top: 0% !important;
      }
      .menu__icon {
        display: flex !important;
      }
      .options__section {
        display: none !important;
        .option {
          width: 100% !important;
          height: calc(100% / 3) !important;
        }
      }
      .other__options {
        width: 100% !important;
        .placeOrder__section {
        }
        .time__section {
          h5 {
            font-size: 10px;
          }
        }
      }
    }
  }
}
